@page "/store"
<div class="store">
<main>
    @if (gameList != null && gameList.Count > 0)
    {
        @foreach (var item in gameList)
        {
            <a class="game-card" href="#">
                <article>
                    <div>
                        <img src="@item.Image">
                    </div>
                    <h3>@item.Title</h3>
                    <p>@item.Description</p>
                    <footer>
                        @if (item.Discount > 0)
                        {
                            <div>-@item.Discount.ToString("P0")</div>
                            <p>
                            <del>@item.Price USD</del>
                            </p>
                            <span>@decimal.Round((item.Price - item.Price*item.Discount),2) USD</span>
                        }
                        else if(item.Price == 0)
                        {
                              <span>Gratis</span>  
                        } else
                        {
                            <span>@(item.Price) USD</span>
                        }
                        
                    </footer>
                </article>
            </a>
        }
    }
</main>
</div>
@code
{
    List<Game> gameList = new List<Game>();

    protected override async Task OnInitializedAsync()
    {
        gameList.Add(new Game()
        {
            Title = "Rocket League",
            Description = "Described as 'soccer, but with rocket-powered cars', Rocket League has up to eight players assigned to each of the two teams, using rocket-powered vehicles to hit a ball into their opponent's goal and score points over the course of a match.",
            Image = "https://www.mobygames.com/images/promo/original/1591388850-760297102.jpg",
            Price = 15.0M,
            Discount = 0.6M
        });
        gameList.Add(new Game()
        {
            Title = "Fornite",
            Description = "Fortnite: Save the World is a player-versus-environment cooperative game, with four players collaborating towards a common objective on various missions. ",
            Image = "https://cdn2.unrealengine.com/18br-lineup-social-social-1920x1080-2d7d95791d77.jpg",
            Price = 0,
            Discount = 0,
        });
        gameList.Add(new Game()
        {
            Title = "Crysis 2 Remastered",
            Description = "",
            Image = "https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_4/H2x1_NSwitch_Crysis2Remastered_image1600w.jpg",
            Price = 5.99M,
            Discount = 0.4M,
        });
        gameList.Add(new Game()
        {
            Title = "Tennis Manager 2021",
            Description = "",
            Image = "https://static-cdn.jtvnw.net/ttv-boxart/Tennis%20Manager%202021.jpg",
            Price = 8.49M,
            Discount = 0.65M,
        });
        gameList.Add(new Game()
        {
            Title = "Song of Horror",
            Description = "",
            Image = "https://d3ugyf2ht6aenh.cloudfront.net/stores/001/061/094/products/img_20210609_1502531-96b049a3478a3e83c816232620352382-1024-1024.png",
            Price = 14.99M,
            Discount = 0.40M,
        });
        gameList.Add(new Game()
        {
            Title = "Rainbow Six Siege",
            Description = "",
            Image = "https://cdn1.epicgames.com/carnation/offer/r6s-y6-epic-std-store-portrait-1200x1600-1200x1600-8ecd88137e14-1200x1600-05e68a0aed3dc068b9b4186997b97317.jpeg",
            Price = 7.72M,
            Discount = 0,
        });
        gameList.Add(new Game()
        {
            Title = "God of War",
            Description = "",
            Image = "https://cdn2.steamgriddb.com/file/sgdb-cdn/grid/be1e6bab8a22235477f2fbf4397af4cd.png",
            Price = 39.99M,
            Discount = 0,
        });
        gameList.Add(new Game()
        {
            Title = "Dead by Daylight",
            Description = "",
            Image = "https://steam-repacks.com/wp-content/uploads/2021/04/Dead-by-Daylight-Free-Download-By-Steam-repacks.jpg",
            Price = 9.49M,
            Discount = 0,
        });
    }
}